div {
    height: 200px;
    width: 1600px;

}
#background {
    height: 200px;
}
body {
    background-color: #EBEBEB; 
}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: #0033A0;
    color: #d9c2a3;
} 
.icon {
    width: 20px;
}
nav a {
    text-align: center;
    color: #0033A0;
    text-decoration: none;
} 
h3 {
    text-align: center;
    color: #0033A0;
    text-decoration: none;
    background-color: #d9c2a3;
    color: #0033A0;
} 
main {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
}
header {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    background-color: #D64309;
}
